form{
    background-color: rgb(255, 255, 255);
    border: 1rem;
    border-radius: 2.5rem;
    align-items: center;
    padding: 2rem;
    margin-top: 3%;
    margin-left: 5%;
    width: 32rem;
    height: 31rem;
    align-self: center;
    box-shadow: 0.5rem 0.5rem 2rem black;
}
body{
    background-image: url("bg-img.jpg");
    background-size: cover;
}
#logo{
    height: 6rem;
    width: 8rem;
}
.input_field{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 32rem;
    height: 2rem;
    border-radius: 0.5rem;
}
#input_field1{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    width: 32rem;
    height: 2rem;
    border-radius: 0.5rem;
}
#reset{
    background-color: red;
    height: 3rem;
    width: 8rem;
    border-radius: 0.5rem;
    margin-left: 2rem;
}
#submit{
    
    background-color: green;
    height: 3rem;
    width: 8rem;
    border-radius: 0.5rem;
    margin-left: 4rem;
}  

#form{
    display: flex;
    flex-direction: row;
}
#box{
    background-color: rgba(186, 186, 212, 0.493);
    border: 1rem;
    border-radius: 2.5rem;
    align-items: center;
    padding: 2rem;
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 10%;
    width: 32rem;
    height: 31rem;
    align-self: center;
    box-shadow: 0.5rem 0.5rem 2rem black;
    display: none;
}
#results{
    padding-left: 10%;
    margin-bottom: 10%;
    display: none;
    
}